In [3]:
import tensorflow as tf
!pip install ydata_profiling
import pandas as pd
from ydata_profiling import ProfileReport

Collecting ydata_profiling
  Downloading ydata_profiling-4.5.1-py2.py3-none-any.whl (357 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 357.3/357.3 kB 5.9 MB/s eta 0:00:00
Requirement already satisfied: scipy<1.12,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (1.11.3)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (1.5.3)
Requirement already satisfied: matplotlib<4,>=3.2 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (3.7.1)
Requirement already satisfied: pydantic<2,>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (1.10.13)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (3.1.2)
Collecting visions[type_image_path]==0.7.5 (from ydata_profiling)
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.7/102.7 kB 11.7 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (1.23.5)
Collecting htmlmin==0.1.12 (from ydata_profiling)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting phik<0.13,>=0.11.1 (from ydata_profiling)
  Downloading phik-0.12.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (679 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 679.5/679.5 kB 27.3 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (4.66.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (0.12.2)
Collecting multimethod<2,>=1.4 (from ydata_profiling)
  Downloading multimethod-1.10-py3-none-any.whl (9.9 kB)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (0.14.0)
Collecting typeguard<3,>=2.13.2 (from ydata_profiling)
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Collecting imagehash==4.3.1 (from ydata_profiling)
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 kB 27.7 MB/s eta 0:00:00
Requirement already satisfied: wordcloud>=1.9.1 in /usr/local/lib/python3.10/dist-packages (from ydata_profiling) (1.9.2)
Collecting dacite>=1.8 (from ydata_profiling)
  Downloading dacite-1.8.1-py3-none-any.whl (14 kB)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata_profiling) (1.4.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata_profiling) (9.4.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata_profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata_profiling) (3.1)
Collecting tangled-up-in-unicode>=0.0.4 (from visions[type_image_path]==0.7.5->ydata_profiling)
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 67.3 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2<3.2,>=2.11.1->ydata_profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata_profiling) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata_profiling) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata_profiling) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata_profiling) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata_profiling) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata_profiling) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata_profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.4.0,<2.1,>1.1->ydata_profiling) (2023.3.post1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from phik<0.13,>=0.11.1->ydata_profiling) (1.3.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1.8.1->ydata_profiling) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata_profiling) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata_profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata_profiling) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata_profiling) (2023.7.22)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels<1,>=0.13.2->ydata_profiling) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata_profiling) (1.16.0)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27081 sha256=273352cc91a94c0b23aa6d423ee88a6f28adffc676f7d63f199b224c2a75e6b3
  Stored in directory: /root/.cache/pip/wheels/dd/91/29/a79cecb328d01739e64017b6fb9a1ab9d8cb1853098ec5966d
Successfully built htmlmin
Installing collected packages: htmlmin, typeguard, tangled-up-in-unicode, multimethod, dacite, imagehash, visions, phik, ydata_profiling
Successfully installed dacite-1.8.1 htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.10 phik-0.12.3 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5 ydata_profiling-4.5.1

In [25]:
#Just for reading csv
from google.colab import drive

# Mount Google Drive
drive.mount("/content/drive", force_remount=True)

data1 = pd.read_csv('/content/drive/MyDrive/dsc_fc_summed_spectra_2016_v01.csv')

Mounted at /content/drive

In [5]:
data.isnull().sum().sum()

9789

In [13]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

from sklearn.impute import KNNImputer, SimpleImputer


# Select columns for KNN imputation (excluding the label column)
knn_imputation_data = data.iloc[:, 1:]

# Create a KNNImputer instance
knn_imputer = KNNImputer(n_neighbors=20)

# Apply KNN imputation along axis=1
imputed_data = knn_imputer.fit_transform(knn_imputation_data.T).T

# Display the imputed data
print("Original Data:\n", data.iloc[:,1:])
print("\nImputed Data:\n", imputed_data)


# Convert imputed data to a DataFrame
imputed_data_7 = pd.DataFrame(imputed_data)
imputed_data_7= imputed_data_7.iloc[:,:]
imputed_data_7.isnull().sum().sum()

Original Data:
                      6.83609  -3.37934  -12.9205    0  0.1  0.2  0.3  0.4  \
2016-01-01 00:00:00
2016-01-01 00:01:00  6.76732  -3.30194 -12.99670  0.0  0.0  0.0  0.0  0.0
2016-01-01 00:02:00  6.39107  -2.61173 -13.32710  0.0  0.0  0.0  0.0  0.0
2016-01-01 00:03:00  6.44897  -2.61525 -13.32990  0.0  0.0  0.0  0.0  0.0
2016-01-01 00:04:00  6.58758  -2.73082 -13.23610  0.0  0.0  0.0  0.0  0.0
2016-01-01 00:05:00  6.44875  -2.68868 -13.30760  0.0  0.0  0.0  0.0  0.0
...                      ...       ...       ...  ...  ...  ...  ...  ...
2016-12-31 23:55:00 -5.92351   3.25329  -2.07272  0.0  0.0  0.0  0.0  0.0
2016-12-31 23:56:00 -6.10969   2.72681  -1.95783  0.0  0.0  0.0  0.0  0.0
2016-12-31 23:57:00 -5.78496  -2.02603  -2.64053  0.0  0.0  0.0  0.0  0.0
2016-12-31 23:58:00 -3.60551  -5.31124  -3.16447  0.0  0.0  0.0  0.0  0.0
2016-12-31 23:59:00 -4.61841  -4.52630  -3.05202  0.0  0.0  0.0  0.0  0.0

                     0.5  0.6  ...  0.40  0.41  0.42  0.43  0.44  0.45  0.46  \
2016-01-01 00:00:00            ...
2016-01-01 00:01:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2016-01-01 00:02:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2016-01-01 00:03:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2016-01-01 00:04:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2016-01-01 00:05:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                  ...  ...  ...   ...   ...   ...   ...   ...   ...   ...
2016-12-31 23:55:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2016-12-31 23:56:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2016-12-31 23:57:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2016-12-31 23:58:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2016-12-31 23:59:00  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0

                     0.47  0.48  0.49
2016-01-01 00:00:00
2016-01-01 00:01:00   0.0   0.0   0.0
2016-01-01 00:02:00   0.0   0.0   0.0
2016-01-01 00:03:00   0.0   0.0   0.0
2016-01-01 00:04:00   0.0   0.0   0.0
2016-01-01 00:05:00   0.0   0.0   0.0
...                   ...   ...   ...
2016-12-31 23:55:00   0.0   0.0   0.0
2016-12-31 23:56:00   0.0   0.0   0.0
2016-12-31 23:57:00   0.0   0.0   0.0
2016-12-31 23:58:00   0.0   0.0   0.0
2016-12-31 23:59:00   0.0   0.0   0.0

[283679 rows x 53 columns]

Imputed Data:
 [[  6.76732  -3.30194 -12.9967  ...   0.        0.        0.     ]
 [  6.39107  -2.61173 -13.3271  ...   0.        0.        0.     ]
 [  6.44897  -2.61525 -13.3299  ...   0.        0.        0.     ]
 ...
 [ -5.78496  -2.02603  -2.64053 ...   0.        0.        0.     ]
 [ -3.60551  -5.31124  -3.16447 ...   0.        0.        0.     ]
 [ -4.61841  -4.5263   -3.05202 ...   0.        0.        0.     ]]

0

In [33]:
data1.iloc[:,0]

0         2016-01-01 00:01:00
1         2016-01-01 00:02:00
2         2016-01-01 00:03:00
3         2016-01-01 00:04:00
4         2016-01-01 00:05:00
                 ...
283674    2016-12-31 23:55:00
283675    2016-12-31 23:56:00
283676    2016-12-31 23:57:00
283677    2016-12-31 23:58:00
283678    2016-12-31 23:59:00
Name: 2016-01-01 00:00:00, Length: 283679, dtype: object

In [44]:
imputed_data_7.shape

(283679, 53)

In [40]:
import pandas as pd

data = pd.concat([datetime, imputed_data_7], axis=1)

# Convert the timestamp column to datetime format
data.iloc[:, 0] = pd.to_datetime(data.iloc[:, 0], format='%Y/%m/%d %H:%M:%S')

# Set the timestamp column as the index
data.set_index(data.iloc[:, 0], inplace=True)

# Create a new DataFrame to store the results
data_hourly_mean = pd.DataFrame(index=data.index)

# Calculate the mean of minute values within each hour for all columns
#for col in data.columns:
    # Remove leading/trailing spaces from column names
    #cleaned_col = col.strip()

    # Group the data by hour and calculate the mean
data_hourly_mean = data.groupby(pd.Grouper(freq='3H')).mean()

# Reset the index to have a regular DataFrame structure
#data_hourly_mean.reset_index(inplace=True)

data_hourly_mean.to_csv('data2016_hourly_mean.csv', index=False)

<ipython-input-40-b8c782adbecf>:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.iloc[:, 0] = pd.to_datetime(data.iloc[:, 0], format='%Y/%m/%d %H:%M:%S')
<ipython-input-40-b8c782adbecf>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_hourly_mean = data.groupby(pd.Grouper(freq='3H')).mean()

In [80]:
import pandas as pd

# Set the start and end dates
start_date = '2021-01-01'
end_date = '2021-12-31'

# Generate a datetime array sampled every three hours
datetime_array = pd.date_range(start=start_date, end=end_date, freq='3H')
datetime=pd.DataFrame(datetime_array)
# Display the generated datetime array
print(datetime_array)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 03:00:00',
               '2021-01-01 06:00:00', '2021-01-01 09:00:00',
               '2021-01-01 12:00:00', '2021-01-01 15:00:00',
               '2021-01-01 18:00:00', '2021-01-01 21:00:00',
               '2021-01-02 00:00:00', '2021-01-02 03:00:00',
               ...
               '2021-12-29 21:00:00', '2021-12-30 00:00:00',
               '2021-12-30 03:00:00', '2021-12-30 06:00:00',
               '2021-12-30 09:00:00', '2021-12-30 12:00:00',
               '2021-12-30 15:00:00', '2021-12-30 18:00:00',
               '2021-12-30 21:00:00', '2021-12-31 00:00:00'],
              dtype='datetime64[ns]', length=2913, freq='3H')

In [41]:
data_hourly_mean.shape

(2921, 53)

In [42]:
data_hourly_mean.isnull().sum().sum()

0

In [43]:
data1.shape

(283679, 54)

In [48]:
data2 = pd.read_csv('/content/drive/MyDrive/dsc_fc_summed_spectra_2017_v01.csv', \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, na_values='0', \
header = None)

data2.shape

(525600, 54)

In [49]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

from sklearn.impute import KNNImputer, SimpleImputer


# Select columns for KNN imputation (excluding the label column)
knn_imputation_data = data2.iloc[:, 1:]

# Create a KNNImputer instance
knn_imputer = KNNImputer(n_neighbors=20)

# Apply KNN imputation along axis=1
imputed_data = knn_imputer.fit_transform(knn_imputation_data.T).T

# Display the imputed data
print("Original Data:\n", data2.iloc[:,1:])
print("\nImputed Data:\n", imputed_data)


# Convert imputed data to a DataFrame
imputed_data_8 = pd.DataFrame(imputed_data)
imputed_data_8= imputed_data_8.iloc[:,:]
imputed_data_8.isnull().sum().sum()

Original Data:
              1         2        3   4   5   6   7   8   9   10  ...  44  45  \
0      -4.17863 -4.511830 -3.52434 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
1      -6.06788 -0.379552 -3.49708 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
2      -5.83430 -3.039940 -2.98546 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
3      -5.87318 -3.352910 -2.77476 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
4      -5.81431 -3.305190 -2.59870 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
...         ...       ...      ...  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..
525595  6.07246 -3.402390 -4.20657 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
525596  6.94467 -3.434060 -4.33012 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
525597  7.04210 -1.602740 -5.85800 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
525598  6.74641  0.337871 -6.33095 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN
525599  5.92092  1.649140 -7.02200 NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN

        46  47  48  49  50  51  52  53
0      NaN NaN NaN NaN NaN NaN NaN NaN
1      NaN NaN NaN NaN NaN NaN NaN NaN
2      NaN NaN NaN NaN NaN NaN NaN NaN
3      NaN NaN NaN NaN NaN NaN NaN NaN
4      NaN NaN NaN NaN NaN NaN NaN NaN
...     ..  ..  ..  ..  ..  ..  ..  ..
525595 NaN NaN NaN NaN NaN NaN NaN NaN
525596 NaN NaN NaN NaN NaN NaN NaN NaN
525597 NaN NaN NaN NaN NaN NaN NaN NaN
525598 NaN NaN NaN NaN NaN NaN NaN NaN
525599 NaN NaN NaN NaN NaN NaN NaN NaN

[525600 rows x 53 columns]

Imputed Data:
 [[-4.17863000e+00 -4.51183000e+00 -3.52434000e+00 ...  4.77840533e+02
   4.77840533e+02  4.77840533e+02]
 [-6.06788000e+00 -3.79552000e-01 -3.49708000e+00 ...  4.73320196e+02
   4.73320196e+02  4.73320196e+02]
 [-5.83430000e+00 -3.03994000e+00 -2.98546000e+00 ...  4.74673477e+02
   4.74673477e+02  4.74673477e+02]
 ...
 [ 7.04210000e+00 -1.60274000e+00 -5.85800000e+00 ...  4.86078700e+02
   4.86078700e+02  4.86078700e+02]
 [ 6.74641000e+00  3.37871000e-01 -6.33095000e+00 ...  4.87000100e+02
   4.87000100e+02  4.87000100e+02]
 [ 5.92092000e+00  1.64914000e+00 -7.02200000e+00 ...  4.85833850e+02
   4.85833850e+02  4.85833850e+02]]

0

In [50]:
imputed_data_8.shape

(524530, 53)

In [53]:
import pandas as pd

# Assuming data8 is your DataFrame
data2 = pd.concat([datetime, imputed_data_8], axis=1)

# Convert the timestamp column to datetime format
data2.iloc[:, 0] = pd.to_datetime(data2.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')

# Set the timestamp column as the index
data2.set_index(data2.iloc[:, 0], inplace=True)

# Create a new DataFrame to store the results
data2_hourly_mean = pd.DataFrame(index=data2.index)

# Calculate the mean of minute values within each hour for all columns
for col in data2.columns:
    # Remove leading/trailing spaces from column names
    #cleaned_col = col.strip()

    # Group the data by hour and calculate the mean
    data2_hourly_mean = data2.groupby(pd.Grouper(freq='3H')).mean()

# Reset the index to have a regular DataFrame structure
#data2_hourly_mean.reset_index(inplace=True)

data2_hourly_mean.to_csv('data2017_hourly_mean.csv', index=False)

<ipython-input-53-3a459c026ae3>:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data2.iloc[:, 0] = pd.to_datetime(data2.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')
<ipython-input-53-3a459c026ae3>:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data2_hourly_mean = data2.groupby(pd.Grouper(freq='3H')).mean()

In [54]:
data2_hourly_mean.shape

(2913, 53)

In [56]:
data2_hourly_mean.isnull().sum().sum()

0

In [55]:
data3 = pd.read_csv('/content/drive/MyDrive/dsc_fc_summed_spectra_2018_v01.csv', \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, na_values='0', \
header = None)

data3.shape

(537120, 54)

In [58]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

from sklearn.impute import KNNImputer, SimpleImputer


# Select columns for KNN imputation (excluding the label column)
knn_imputation_data = data3.iloc[:, 1:]

# Create a KNNImputer instance
knn_imputer = KNNImputer(n_neighbors=20)

# Apply KNN imputation along axis=1
imputed_data = knn_imputer.fit_transform(knn_imputation_data.T).T

# Display the imputed data
print("Original Data:\n", data3.iloc[:,1:])
print("\nImputed Data:\n", imputed_data)


# Convert imputed data to a DataFrame
imputed_data_9 = pd.DataFrame(imputed_data)
imputed_data_9= imputed_data_9.iloc[:,:]
imputed_data_9.isnull().sum().sum()

Original Data:
                            1         2         3   4   5   6   7   8   9   10  \
0
2018-01-01 00:00:00  6.548390  1.071280 -6.420980 NaN NaN NaN NaN NaN NaN NaN
2018-01-01 00:01:00  7.875000 -0.698307 -5.394140 NaN NaN NaN NaN NaN NaN NaN
2018-01-01 00:02:00  8.273140 -0.630733 -5.053810 NaN NaN NaN NaN NaN NaN NaN
2018-01-01 00:03:00  8.439380 -0.189856 -5.177480 NaN NaN NaN NaN NaN NaN NaN
2018-01-01 00:04:00  8.737710  0.336682 -5.592300 NaN NaN NaN NaN NaN NaN NaN
...                       ...       ...       ...  ..  ..  ..  ..  ..  ..  ..
2018-12-31 23:55:00 -2.227050  4.000090 -0.153605 NaN NaN NaN NaN NaN NaN NaN
2018-12-31 23:56:00 -0.694564  3.988830 -1.281080 NaN NaN NaN NaN NaN NaN NaN
2018-12-31 23:57:00  0.200836  4.031420 -2.016880 NaN NaN NaN NaN NaN NaN NaN
2018-12-31 23:58:00  0.297131  4.329920 -0.997825 NaN NaN NaN NaN NaN NaN NaN
2018-12-31 23:59:00  0.413938  4.163800 -1.409100 NaN NaN NaN NaN NaN NaN NaN

                     ...  44  45  46  47  48  49  50  51  52  53
0                    ...
2018-01-01 00:00:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2018-01-01 00:01:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2018-01-01 00:02:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2018-01-01 00:03:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2018-01-01 00:04:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
...                  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
2018-12-31 23:55:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2018-12-31 23:56:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2018-12-31 23:57:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2018-12-31 23:58:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2018-12-31 23:59:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[537120 rows x 53 columns]

Imputed Data:
 [[ 6.54839000e+00  1.07128000e+00 -6.42098000e+00 ...  4.89032000e+02
   4.89032000e+02  4.89032000e+02]
 [ 7.87500000e+00 -6.98307000e-01 -5.39414000e+00 ...  4.89513750e+02
   4.89513750e+02  4.89513750e+02]
 [ 8.27314000e+00 -6.30733000e-01 -5.05381000e+00 ...  4.80625757e+02
   4.80625757e+02  4.80625757e+02]
 ...
 [ 2.00836000e-01  4.03142000e+00 -2.01688000e+00 ...  7.38458667e-01
   7.38458667e-01  7.38458667e-01]
 [ 2.97131000e-01  4.32992000e+00 -9.97825000e-01 ...  1.20974200e+00
   1.20974200e+00  1.20974200e+00]
 [ 4.13938000e-01  4.16380000e+00 -1.40910000e+00 ...  1.05621267e+00
   1.05621267e+00  1.05621267e+00]]

0

In [61]:
import pandas as pd

# Assuming data8 is your DataFrame
data3 = pd.concat([datetime, imputed_data_9], axis=1)

# Convert the timestamp column to datetime format
data3.iloc[:, 0] = pd.to_datetime(data3.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')

# Set the timestamp column as the index
data3.set_index(data3.iloc[:, 0], inplace=True)

# Create a new DataFrame to store the results
data3_hourly_mean = pd.DataFrame(index=data3.index)

# Calculate the mean of minute values within each hour for all columns
for col in data3.columns:
    # Remove leading/trailing spaces from column names
    #cleaned_col = col.strip()

    # Group the data by hour and calculate the mean
    data3_hourly_mean = data3.groupby(pd.Grouper(freq='3H')).mean()

# Reset the index to have a regular DataFrame structure


data3_hourly_mean.to_csv('data2018_hourly_mean.csv', index=False)

<ipython-input-61-b949a0f59e29>:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data3.iloc[:, 0] = pd.to_datetime(data3.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')
<ipython-input-61-b949a0f59e29>:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data3_hourly_mean = data3.groupby(pd.Grouper(freq='3H')).mean()

In [62]:
data3_hourly_mean.shape

(2913, 53)

In [63]:
data3_hourly_mean.isnull().sum().sum()

0

In [64]:
data4 = pd.read_csv('/content/drive/MyDrive/dsc_fc_summed_spectra_2019_v01.csv', \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, na_values='0', \
header = None)

data4.shape

(256320, 54)

In [66]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

from sklearn.impute import KNNImputer, SimpleImputer


# Select columns for KNN imputation (excluding the label column)
knn_imputation_data = data4.iloc[:, 1:]

# Create a KNNImputer instance
knn_imputer = KNNImputer(n_neighbors=20)

# Apply KNN imputation along axis=1
imputed_data = knn_imputer.fit_transform(knn_imputation_data.T).T

# Display the imputed data
print("Original Data:\n", data4.iloc[:,1:])
print("\nImputed Data:\n", imputed_data)


# Convert imputed data to a DataFrame
imputed_data_10 = pd.DataFrame(imputed_data)
imputed_data_10= imputed_data_10.iloc[:,:]
imputed_data_10.isnull().sum().sum()

Original Data:
                            1        2        3   4   5   6   7   8   9   10  \
0
2019-01-01 00:00:00  0.947127  3.61457 -1.83669 NaN NaN NaN NaN NaN NaN NaN
2019-01-01 00:01:00  1.016790  3.49577 -1.71416 NaN NaN NaN NaN NaN NaN NaN
2019-01-01 00:02:00  0.709152  3.36310 -1.81351 NaN NaN NaN NaN NaN NaN NaN
2019-01-01 00:03:00  1.193480  3.40585 -1.80624 NaN NaN NaN NaN NaN NaN NaN
2019-01-01 00:04:00  1.485320  3.08743 -1.99900 NaN NaN NaN NaN NaN NaN NaN
...                       ...      ...      ...  ..  ..  ..  ..  ..  ..  ..
2019-06-27 23:55:00       NaN      NaN      NaN NaN NaN NaN NaN NaN NaN NaN
2019-06-27 23:56:00       NaN      NaN      NaN NaN NaN NaN NaN NaN NaN NaN
2019-06-27 23:57:00       NaN      NaN      NaN NaN NaN NaN NaN NaN NaN NaN
2019-06-27 23:58:00       NaN      NaN      NaN NaN NaN NaN NaN NaN NaN NaN
2019-06-27 23:59:00       NaN      NaN      NaN NaN NaN NaN NaN NaN NaN NaN

                     ...  44  45  46  47  48  49  50  51  52  53
0                    ...
2019-01-01 00:00:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2019-01-01 00:01:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2019-01-01 00:02:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2019-01-01 00:03:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2019-01-01 00:04:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
...                  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
2019-06-27 23:55:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2019-06-27 23:56:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2019-06-27 23:57:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2019-06-27 23:58:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2019-06-27 23:59:00  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[256320 rows x 53 columns]

Imputed Data:
 [[ 0.947127    3.61457    -1.83669    ...  0.90833567  0.90833567
   0.90833567]
 [ 1.01679     3.49577    -1.71416    ...  0.9328      0.9328
   0.9328    ]
 [ 0.709152    3.3631     -1.81351    ...  0.752914    0.752914
   0.752914  ]
 ...
 [ 1.69272    -0.686056   -2.41839    ... -0.47057533 -0.47057533
  -0.47057533]
 [ 1.50476    -0.802068   -2.44256    ... -0.579956   -0.579956
  -0.579956  ]
 [ 1.41082    -0.902346   -2.44266    ... -0.64472867 -0.64472867
  -0.64472867]]

0

In [69]:
import pandas as pd

# Assuming data8 is your DataFrame
data4 = pd.concat([datetime, imputed_data_10], axis=1)
# Convert the timestamp column to datetime format
data4.iloc[:, 0] = pd.to_datetime(data4.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')

# Set the timestamp column as the index
data4.set_index(data4.iloc[:, 0], inplace=True)

# Create a new DataFrame to store the results
data4_hourly_mean = pd.DataFrame(index=data4.index)

# Calculate the mean of minute values within each hour for all columns
for col in data4.columns:
    # Remove leading/trailing spaces from column names
    #cleaned_col = col.strip()

    # Group the data by hour and calculate the mean
    data4_hourly_mean = data4.groupby(pd.Grouper(freq='3H')).mean()

# Reset the index to have a regular DataFrame structure
#data4_hourly_mean.reset_index(inplace=True)

data4_hourly_mean.to_csv('data2019_hourly_mean.csv', index=False)

<ipython-input-69-96b0a8f7bb83>:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data4.iloc[:, 0] = pd.to_datetime(data4.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')
<ipython-input-69-96b0a8f7bb83>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data4_hourly_mean = data4.groupby(pd.Grouper(freq='3H')).mean()

In [70]:
data4_hourly_mean.shape

(2913, 53)

In [71]:
data4_hourly_mean.isnull().sum().sum()

0

In [72]:
data5 = pd.read_csv('/content/drive/MyDrive/dsc_fc_summed_spectra_2020_v01.csv', \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, na_values='0', \
header = None)

data5.shape

(447840, 54)

In [73]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

from sklearn.impute import KNNImputer, SimpleImputer


# Select columns for KNN imputation (excluding the label column)
knn_imputation_data = data5.iloc[:, 1:]

# Create a KNNImputer instance
knn_imputer = KNNImputer(n_neighbors=20)

# Apply KNN imputation along axis=1
imputed_data = knn_imputer.fit_transform(knn_imputation_data.T).T

# Display the imputed data
print("Original Data:\n", data5.iloc[:,1:])
print("\nImputed Data:\n", imputed_data)


# Convert imputed data to a DataFrame
imputed_data_11 = pd.DataFrame(imputed_data)
imputed_data_11= imputed_data_11.iloc[:,:]
imputed_data_11.isnull().sum().sum()

Original Data:
               1         2         3        4         5        6        7   \
0       4.041580 -0.337277  0.278823      NaN       NaN      NaN      NaN
1       4.021790 -0.469653  0.141173      NaN       NaN      NaN      NaN
2       3.989370 -0.655307  0.151470      NaN       NaN      NaN      NaN
3       3.893450 -0.966260 -0.149979      NaN       NaN      NaN      NaN
4       3.837420 -0.969013 -0.514656      NaN       NaN      NaN      NaN
...          ...       ...       ...      ...       ...      ...      ...
447835 -0.685208 -2.318890  1.411140  37.2868  0.231726  43.5532  40.0783
447836 -0.863922 -2.387160  1.470250  35.8015  0.231726  43.5366  40.9354
447837 -1.235620 -2.459980  1.163510  35.9466  0.231726  43.2321  40.9430
447838 -1.362460 -2.435990  1.104120  36.6833  0.231726  43.3391  40.7049
447839 -1.036420 -1.483420  2.049800  36.1165  0.231726  42.4431  39.7559

             8        9        10  ...  44  45  46  47  48  49  50  51  52  53
0           NaN      NaN      NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1           NaN      NaN      NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2           NaN      NaN      NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3           NaN      NaN      NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4           NaN      NaN      NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
...         ...      ...      ...  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
447835  55.8404  52.0473  85.8030  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
447836  55.3112  51.1699  80.2718  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
447837  55.2340  51.2111  80.5526  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
447838  55.6326  51.7151  82.4217  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
447839  55.4625  51.5756  81.7779  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[447840 rows x 53 columns]

Imputed Data:
 [[ 4.04158000e+00 -3.37277000e-01  2.78823000e-01 ...  1.32770867e+00
   1.32770867e+00  1.32770867e+00]
 [ 4.02179000e+00 -4.69653000e-01  1.41173000e-01 ...  1.23110333e+00
   1.23110333e+00  1.23110333e+00]
 [ 3.98937000e+00 -6.55307000e-01  1.51470000e-01 ...  1.16184433e+00
   1.16184433e+00  1.16184433e+00]
 ...
 [-1.23562000e+00 -2.45998000e+00  1.16351000e+00 ...  3.07258905e+02
   3.07258905e+02  3.07258905e+02]
 [-1.36246000e+00 -2.43599000e+00  1.10412000e+00 ...  3.07363290e+02
   3.07363290e+02  3.07363290e+02]
 [-1.03642000e+00 -1.48342000e+00  2.04980000e+00 ...  3.06415770e+02
   3.06415770e+02  3.06415770e+02]]

0

In [75]:
import pandas as pd

# Assuming data8 is your DataFrame
data5 = pd.concat([datetime, imputed_data_11], axis=1)

# Convert the timestamp column to datetime format
data5.iloc[:, 0] = pd.to_datetime(data5.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')

# Set the timestamp column as the index
data5.set_index(data5.iloc[:, 0], inplace=True)

# Create a new DataFrame to store the results
data5_hourly_mean = pd.DataFrame(index=data5.index)

# Calculate the mean of minute values within each hour for all columns
for col in data5.columns:
    # Remove leading/trailing spaces from column names
    #cleaned_col = col.strip()

    # Group the data by hour and calculate the mean
    data5_hourly_mean = data5.groupby(pd.Grouper(freq='3H')).mean()

# Reset the index to have a regular DataFrame structure
#data5_hourly_mean.reset_index(inplace=True)

data5_hourly_mean.to_csv('data2020_hourly_mean.csv', index=False)

<ipython-input-75-da0474c57959>:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data5.iloc[:, 0] = pd.to_datetime(data5.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')
<ipython-input-75-da0474c57959>:21: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data5_hourly_mean = data5.groupby(pd.Grouper(freq='3H')).mean()

In [76]:
data5_hourly_mean.shape

(2921, 53)

In [77]:
data5_hourly_mean.isnull().sum().sum()

0

In [78]:
data6 = pd.read_csv('/content/drive/MyDrive/dsc_fc_summed_spectra_2021_v01.csv', \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, na_values='0', \
header = None)

data6.shape

(525600, 54)

In [79]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

from sklearn.impute import KNNImputer, SimpleImputer


# Select columns for KNN imputation (excluding the label column)
knn_imputation_data = data6.iloc[:, 1:]

# Create a KNNImputer instance
knn_imputer = KNNImputer(n_neighbors=20)

# Apply KNN imputation along axis=1
imputed_data = knn_imputer.fit_transform(knn_imputation_data.T).T

# Display the imputed data
print("Original Data:\n", data6.iloc[:,1:])
print("\nImputed Data:\n", imputed_data)


# Convert imputed data to a DataFrame
imputed_data_12 = pd.DataFrame(imputed_data)
imputed_data_12= imputed_data_12.iloc[:,:]
imputed_data_12.isnull().sum().sum()

Original Data:
               1        2        3        4         5        6        7   \
0      -0.948315 -1.29987  2.52648  35.6484  0.231726  42.2461  39.7696
1      -1.078140 -1.55924  2.29992  35.7236  0.231726  42.7768  40.4615
2      -1.050860 -1.58057  2.29622  35.5839  0.231726  42.6242  40.6932
3      -1.264670 -1.62778  2.10860  35.4769  0.231726  42.1628  40.6225
4      -1.373980 -1.62493  2.10137  35.5176  0.231726  43.5401  41.5129
...          ...      ...      ...      ...       ...      ...      ...
525595 -6.388350  1.82727 -4.02363  38.0669  0.231726  46.9656  44.3520
525596 -6.518190  2.16723 -3.57759  37.4031  0.231726  47.6769  45.6470
525597 -6.420670  1.76064 -4.10339  38.3415  0.231726  47.6087  44.4022
525598 -6.298650  1.19849 -4.63329  38.2767  0.239451  46.0327  45.7517
525599 -6.217850  1.27989 -4.73844  38.9057  0.231726  43.8798  44.4918

             8        9        10  ...  44  45  46  47  48  49  50  51  52  53
0       55.6658  51.0384  81.4331  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1       56.0995  51.6616  80.8791  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2       56.3619  51.0659  80.0825  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3       55.6014  50.7821  77.9063  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4       56.2557  51.4039  78.7286  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
...         ...      ...      ...  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
525595  54.1644  44.3061  68.5287  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
525596  54.5059  45.1961  66.8294  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
525597  53.8685  45.1996  68.7809  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
525598  55.2395  45.2938  68.0598  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
525599  55.3947  43.3643  60.3793  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[525600 rows x 53 columns]

Imputed Data:
 [[ -0.948315  -1.29987    2.52648  ... 303.321785 305.281135 305.281135]
 [ -1.07814   -1.55924    2.29992  ... 304.07624  305.981355 305.981355]
 [ -1.05086   -1.58057    2.29622  ... 303.3919   305.264815 305.264815]
 ...
 [ -6.42067    1.76064   -4.10339  ... 333.27509  334.3337   332.81173 ]
 [ -6.29865    1.19849   -4.63329  ... 332.410225 333.51158  332.022425]
 [ -6.21785    1.27989   -4.73844  ... 333.243575 334.06855  332.99487 ]]

0

In [81]:
import pandas as pd

# Assuming data8 is your DataFrame

data6 = pd.concat([datetime, imputed_data_12], axis=1)

# Convert the timestamp column to datetime format
data6.iloc[:, 0] = pd.to_datetime(data6.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')

# Set the timestamp column as the index
data6.set_index(data6.iloc[:, 0], inplace=True)

# Create a new DataFrame to store the results
data6_hourly_mean = pd.DataFrame(index=data6.index)

# Calculate the mean of minute values within each hour for all columns
for col in data6.columns:
    # Remove leading/trailing spaces from column names
    #cleaned_col = col.strip()

    # Group the data by hour and calculate the mean
    data6_hourly_mean = data6.groupby(pd.Grouper(freq='3H')).mean()

# Reset the index to have a regular DataFrame structure
#data6_hourly_mean.reset_index(inplace=True)

data6_hourly_mean.to_csv('data2021_hourly_mean.csv', index=False)

<ipython-input-81-70296cdf0edf>:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data6.iloc[:, 0] = pd.to_datetime(data6.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')
<ipython-input-81-70296cdf0edf>:22: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data6_hourly_mean = data6.groupby(pd.Grouper(freq='3H')).mean()

In [82]:
data6_hourly_mean.shape

(2913, 53)

In [83]:
data6_hourly_mean.isnull().sum().sum()

0

In [ ]:
data7 = pd.read_csv('/content/drive/MyDrive/dsc_fc_summed_spectra_2022_v01.csv', \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, na_values='0', \
header = None)

data7.shape

(525600, 54)

In [ ]:
import pandas as pd

# Assuming data8 is your DataFrame

# Convert the timestamp column to datetime format
data7.iloc[:, 0] = pd.to_datetime(data7.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')

# Set the timestamp column as the index
data7.set_index(data7.iloc[:, 0], inplace=True)

# Create a new DataFrame to store the results
data7_hourly_mean = pd.DataFrame(index=data7.index)

# Calculate the mean of minute values within each hour for all columns
for col in data7.columns:
    # Remove leading/trailing spaces from column names
    #cleaned_col = col.strip()

    # Group the data by hour and calculate the mean
    data7_hourly_mean = data7.groupby(pd.Grouper(freq='3H')).mean()

# Reset the index to have a regular DataFrame structure
data7_hourly_mean.reset_index(inplace=True)

data7_hourly_mean.to_csv('data2022_hourly_mean.csv', index=False)

<ipython-input-80-bd8901c93011>:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data7.iloc[:, 0] = pd.to_datetime(data7.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')
<ipython-input-80-bd8901c93011>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data7_hourly_mean = data7.groupby(pd.Grouper(freq='3H')).mean()

In [7]:
data8 = pd.read_csv('/content/drive/MyDrive/dsc_fc_summed_spectra_2023_v01.csv', \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, na_values='0', \
header = None)

data8.shape

(175680, 54)

In [ ]:
import pandas as pd

# Assuming data8 is your DataFrame

# Convert the timestamp column to datetime format
data8.iloc[:, 0] = pd.to_datetime(data8.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')

# Set the timestamp column as the index
data8.set_index(data8.iloc[:, 0], inplace=True)

# Create a new DataFrame to store the results
data8_hourly_mean = pd.DataFrame(index=data8.index)

# Calculate the mean of minute values within each hour for all columns
for col in data8.columns:
    # Remove leading/trailing spaces from column names
    #cleaned_col = col.strip()

    # Group the data by hour and calculate the mean
    data8_hourly_mean = data8.groupby(pd.Grouper(freq='3H')).mean()

# Reset the index to have a regular DataFrame structure
data8_hourly_mean.reset_index(inplace=True)

<ipython-input-106-955d32396563>:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data8.iloc[:, 0] = pd.to_datetime(data8.iloc[:, 0], format='%m/%d/%Y %H:%M:%S')
<ipython-input-106-955d32396563>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data8_hourly_mean = data8.groupby(pd.Grouper(freq='3H')).mean()

In [ ]:
data8_hourly_mean.to_csv('data2023_hourly_mean.csv', index=False)

In [ ]:
print(data_hourly_mean.shape)
print(data2_hourly_mean.shape)
print(data3_hourly_mean.shape)
print(data4_hourly_mean.shape)
print(data5_hourly_mean.shape)
print(data6_hourly_mean.shape)
print(data7_hourly_mean.shape)
print(data8_hourly_mean.shape)

(2928, 54)
(2920, 54)
(2920, 54)
(1424, 54)
(2488, 54)
(2920, 54)
(2920, 54)
(976, 54)

In [ ]:
import pandas as pd
import numpy as np

# Assuming data8 is your DataFrame with shape (976, 54)
# Replace 'your_time_column' with the actual column name containing timestamps
# Replace 'your_value_columns' with a list of the actual column names containing values

# Convert the timestamp column to datetime format if it's not already
data8.iloc[:, 0] = pd.to_datetime(data8.iloc[:, 0])

# Set the timestamp column as the index
data8.set_index(data8.iloc[:, 0], inplace=True)

# Define the desired shape (2920, 54)
desired_rows = 2920 - 976
desired_shape = (desired_rows, data8.shape[1])

# Create a DataFrame with zeros
zeros_df = pd.DataFrame(np.zeros(desired_shape), columns=data8.columns)

# Concatenate the original DataFrame with the zeros DataFrame
result_df = pd.concat([data8, zeros_df])

# Reset the index to have a regular DataFrame structure
result_df.reset_index()

<ipython-input-108-bd915116adc6>:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data8.iloc[:, 0] = pd.to_datetime(data8.iloc[:, 0])

,index,0,1,2,3,4,5,6,7,8,...,44,45,46,47,48,49,50,51,52,53
0,2023-01-01 00:00:00,2023-01-01 00:00:00,-2.70274,4.51236,-1.458060,43.0445,0.231726,0.231726,0.818269,22.60750,...,370.588,322.576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-01 00:01:00,2023-01-01 00:01:00,-2.82748,4.69308,-0.949090,23.7566,0.231726,0.315117,1.063280,11.22800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-01 00:02:00,2023-01-01 00:02:00,-1.87608,4.48063,-2.588770,61.3445,0.231726,0.231726,11.327000,19.76130,...,330.078,242.390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-01 00:03:00,2023-01-01 00:03:00,-2.71541,4.74902,-0.324706,23.4895,0.231726,0.460690,3.708190,8.67441,...,391.771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-01 00:04:00,2023-01-01 00:04:00,-2.93342,4.77895,-0.047584,26.5171,0.231726,0.231726,0.231726,10.46320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177619,1939,0.0,0.00000,0.00000,0.000000,0.0000,0.000000,0.000000,0.000000,0.00000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177620,1940,0.0,0.00000,0.00000,0.000000,0.0000,0.000000,0.000000,0.000000,0.00000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177621,1941,0.0,0.00000,0.00000,0.000000,0.0000,0.000000,0.000000,0.000000,0.00000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177622,1942,0.0,0.00000,0.00000,0.000000,0.0000,0.000000,0.000000,0.000000,0.00000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177623,1943,0.0,0.00000,0.00000,0.000000,0.0000,0.000000,0.000000,0.000000,0.00000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
data8.shape

(175680, 54)

In [116]:
import pandas as pd
from sklearn.impute import KNNImputer

# Assuming 'data' is your DataFrame

# Select columns for KNN imputation (excluding the label column)
knn_imputation_data = data.iloc[:, :-1]

# Convert datetime columns to numeric representation
date_cols = knn_imputation_data.select_dtypes(include=['datetime64']).columns
knn_imputation_data[date_cols] = knn_imputation_data[date_cols].apply(lambda x: x.astype(int) / 10**9)

# Create a KNNImputer instance
knn_imputer = KNNImputer(n_neighbors=20)

# Apply KNN imputation along axis=0 (rows)
imputed_data = knn_imputer.fit_transform(knn_imputation_data)

# Convert imputed data back to datetime format
imputed_data_df = pd.DataFrame(imputed_data, columns=knn_imputation_data.columns)
imputed_data_df[date_cols] = imputed_data_df[date_cols].apply(lambda x: pd.to_datetime(x, unit='s'))

# Display the imputed data
print("Original Data:\n", knn_imputation_data)
print("\nImputed Data:\n", imputed_data_df)

# Check for missing values in the imputed data
print(imputed_data_df.isnull().sum().sum())

KeyboardInterrupt: ignored

In [ ]:
import pandas as pd

def convert_rows_to_columns(input_file, output_file):
    # Read the Excel file into a DataFrame
    df = pd.read_excel(input_file, header=None)

    # Create a new DataFrame with each row as a column
    df_transposed = df.T

    # Save the result to a new Excel file
    df_transposed.to_excel(output_file, index=False, header=None)

if _name_ == "_main_":
    input_file_path = "/content/kp2016.xlsx"  # Replace with the path to your input Excel file
    output_file_path = "/content/outputt.xlsx"  # Replace with the desired output Excel file path

    convert_rows_to_columns(input_file_path, output_file_path)

In [ ]:
def convert_and_append(input_file, output_file):
    # Read the Excel file into a DataFrame
    df = pd.read_excel(input_file, header=None)

    # Create a new DataFrame with each row as a column
    df_transposed = df.T

    # Flatten the transposed DataFrame into a single column
    df_flattened = pd.DataFrame(df_transposed.values.flatten(), columns=['Data'])

    # Save the result to a new Excel file
    df_flattened.to_excel(output_file, index=False)

if _name_ == "_main_":
    input_file_path = "/content/outputt.xlsx"  # Replace with the path to your input Excel file
    output_file_path = "/content/op.xlsx"  # Replace with the desired output Excel file path

    convert_and_append(input_file_path, output_file_path)

In [86]:
import numpy as np

In [87]:
kp_df=pd.read_csv("/content/Kp values.csv")

In [88]:
newarr0=[]
newarr1=[]
for i in range (30683,kp_df.shape[0]):
    arr0=np.array(kp_df.iloc[i,7:15])
    newarr0=np.concatenate((newarr0,arr0))
    arr1=np.array(kp_df.iloc[i,15:23])
    newarr1=np.concatenate((newarr1,arr1))

In [102]:
df_arr=pd.DataFrame(newarr1[:17494])

In [103]:
df_arr

          0
0       2.0
1       6.0
2       7.0
3       3.0
4       5.0
...     ...
17489  12.0
17490  12.0
17491   6.0
17492   6.0
17493   9.0

[17494 rows x 1 columns]

In [99]:
df1=pd.read_csv("/content/data2016_hourly_mean.csv")
df2=pd.read_csv("/content/data2017_hourly_mean.csv")
df3=pd.read_csv("/content/data2018_hourly_mean.csv")
df4=pd.read_csv("/content/data2019_hourly_mean.csv")
df5=pd.read_csv("/content/data2020_hourly_mean.csv")
df6=pd.read_csv("/content/data2021_hourly_mean.csv")

In [100]:
combined_df=pd.concat([df1,df2,df3,df4,df5,df6],axis=0)